*{margin:0; padding:0;}
body{
	background-color:pink;
}
.full_wrap{
	width:100%
}
.wrap{
	width:960px;
	display:block;
	margin:0 auto;
}
.header_bg{
	background-color:orange;
	border-bottom:5px solid brown; 
}

#header{
	background-color:orange;
		padding:15px;
		border-right:1px solid brown;
		border-left:1px solid brown;
		
}
#header h2{
	color:black;
	font-family:Arial;
}
#header p{
	color:red;
	font-family:arial;
	font-size:15px;
}

.nav_bg{
	background-color:white;
	border-bottom:5px solid brown;
}
	
	
#nav{
	background-color:white;
	height:38px;
	border-right:1px solid brown;
	border-left:1px solid brown;
}


#nav ul{
	background-color:white;
	list-style-type:none;	
}

#nav ul li{
	float:left;
	border-right:2px solid brown;
	position:relative;
}

#nav ul li:last-child{
	border-right:none;
	
}

#nav ul li a{
	text-decoration:none;
	padding:10px 20px;
	display:block;
	color:red; 
	font-family:arial;
	transition:1s all ease;
}

#nav ul li a:hover{
	background-color:brown;
	color:white;
}

#nav ul li ul li:first-child{
	border-top:2px solid red;
}
#nav ul li ul{
	position:absolute;
	left:-9999px;
	float:left;
}
#nav ul li:hover ul{
	left:0;
}
#nav ul li ul li{
	width:200px;
	float:none;
	border-right:none;
	border-bottom:2px solid brown;
	position:relative;
}

.section_bg{
	background-color:#565660;
}

#section img{
	width:960px;
	margin:0 auto;
	vertical-align:middle;
}
.article_bg{
	background-color:white;
	border-top:5px solid brown;
}

#wrapper{
	background-color:white;
	padding:10px;
	overflow:hidden;
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
}
#article{
	width:620px;
	margin-right:30px;
	float:left;
}
#article h2{
	font-weight:bold;
	font-family:arial;
	font-size:30px;
	color:brown;
	margin:5px 0px;
}

#sidebar{
	float:left;
	width:250px;
	margin-left:10px;
	margin-top:-340px;
}

#sidebar aside h2{
	font-weight:bold;
	font-family:arial;
	font-size:30px;
	color:brown;
	margin:5px 0px;
}

#sidebar aside ul{
	list-style-type:none;
	border-bottom:2px solid brown;
}

#sidebar aside ul li{
	margin-bottom:10px;
	font-size:20px;
	margin-left:50px;
	border-bottom:1px solid brown;
}
#sidebar aside ul li:last-child{
	border-bottom:none;
}
#sidebar aside ul li a{
	text-decoration:none;
}

.footer_bg{
	background-color:black;
}
	
#footer{
	background-color:black;
	color:red;
	text-align:center;
	padding:10px;
	font-family:arial;
	font-weight:bold;
	font-size:20px;
}

#nav ul li ul li ul{
	position:absolute;
	top:-9999px;
	margin-left:200px;
	border-left:2px solid brown;
}

#nav ul li ul li:hover ul{
	top:0;
}

#nav ul li ul li ul li:first-child{
	border-top:none;
}


